h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
  text-align: center;
	@media #{$medium-up} {
	}
	@media #{$large-up} {
	}
  &.brand {
    text-align: left;
  }
}

//helper for font weight
//Open+Sans:400,700,800|Raleway:400,200,700
.font-light {
	font-weight: 200;
}
.font-weight-normal {
	font-weight: 400;
}
.font-bold {
	font-weight: 700;
}
.font-heavy {
	font-weight: 800;
}

#profile-picture {
  height: 150px;
  width: 150px;
  border-radius: 75px;
}
